{% extends "base.html" %} {% block content %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">

  <form class="app-form p-5" action="/edit-user/" method="POST" return false>
    <h1 class="mb-3">Edit User</h1>

    {% csrf_token %}
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" id="usernameInput" name="username" class="form-control" placeholder="Enter a new username"
        value="{{ request.user.username }}" required>
    </div>

    <button id="addVideoButton" type="submit" class="btn my-3 w-100">Save Changes</button>

    <p class="app-grey">Want to leave us?<a href="/delete-account/" class="ml-2">Delete account</a></p>
  </form>

</div>

{% endblock %}