{% extends "base.html" %} {% block content %}
<div>

    {% if not request.user.is_authenticated %}

    <form class="app-form p-5" action="/login/" method="POST" return false>
        <h1 class="mb-3">Log In</h1>

        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}" />

        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Enter password"
                required>
        </div>

        <button type="submit" class="btn my-3 w-100">Log In</button>

        <p class="app-grey">New to Videoflix?<a href="/signup/" class="ml-2">Sign up now</a></p>
    </form>
    
    {% else %}

    <p>You are already logged in! Click <a href="/home/">here</a> to go back to the Videoflix home page.</span>

        {% endif %}

</div>
{% endblock %}