{% extends "base.html" %} {% block content %}

<div class="wrapper">

    {% if not request.user.is_authenticated %}

    <form class="login-form" action="/login/" method="POST" return false>

        <h2>Log In</h2>

        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}">
        <input type="text" name="username" placeholder="Enter your username" required>
        <input type="password" name="password" placeholder="Enter your password" required>

        <button>Log In</button>

        <span class="redirect-to-signup-span"><span style="color: rgb(142, 142, 142);">new to videoflix? </span><a href="/signup/">Join Now</a></span>
    </form>

    

    {% else %}

    <span>You are already logged in! Click <a href="/home/">here</a> to go back to the Videoflix home page.</span>

    {% endif %}

</div>

{% endblock %}