{% extends "base.html" %} {% block content %}

<div class="wrapper">

    <form class="signup-form" action="/signup/" method="POST" return false>

        <h2>Sign Up</h2>

        {% csrf_token %}
        <input id="usernameInput" type="text" name="username" placeholder="Enter a username" required>
        <input type="email" name="email" placeholder="Enter an email" required>
        <input id="passwordInput" type="password" name="password1" placeholder="Enter a password"
            onkeyup="checkPasswordValidity()" required>
        <input type="password" name="password2" placeholder="Repeat the password" required>

        <ul class="password-constraints">
            <span>Please consider this when choosing your password:</span>

            {% load static %}
            <li>
                <img id="valid1" class="valid" src="{% static 'img/checked.png' %}">
                <img id="invalid1" class="invalid" src="{% static 'img/close.png' %}">
                It must contain at least 10 characters.
            </li>
            <li>
                <img id="valid2" class="valid" src="{% static 'img/checked.png' %}">
                <img id="invalid2" class="invalid" src="{% static 'img/close.png' %}">
                It must contain at least 1 letter.
            </li>
            <li>
                <img id="valid3" class="valid" src="{% static 'img/checked.png' %}">
                <img id="invalid3" class="invalid" src="{% static 'img/close.png' %}">
                It must contain at least 1 number.
            </li>
            <li>
                <img id="valid4" class="valid" src="{% static 'img/checked.png' %}">
                <img id="invalid4" class="invalid" src="{% static 'img/close.png' %}">
                It must contain at least 1 special character ([@_!#$%^&*()<>?/|}{~:]).
            </li>
        </ul>

        <button>Sign Up</button>

    </form>

    <span class="redirect-to-login-span">Already have an account? Click <a href="/login/">here</a> to go back to the
        login view.</span>

</div>

{% endblock %}