{% extends "base.html" %} {% block content %}

<div class="wrapper">

    <form class="signup-form" action="/signup/" method="POST" return false>

        <h2>Sign Up</h2>

        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter a username" required>
        <input type="email" name="email" placeholder="Enter an email" required>
        <input type="password" name="password1" placeholder="Enter a password" required>
        <input type="password" name="password2" placeholder="Repeat the password" required>

        <ul class="password-constraints">
            <span>Please consider this when choosing a password:</span>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>

        {% if errors %}
        {% for error in errors %}

        {% if error == 'username' %}

        <span class="warning-span">This username is already in use</span>

        {% elif error == 'email' %}

        <span class="warning-span">This email format is not correct</span>

        {% else %}

        <span class="warning-span">Your password has to meet the conditions and has to be the same in both fields</span>
        
        {% endif %}

        {% endfor %}
        {% endif %}

        {% if email_sent_notification %}
        {% for line in email_sent_notification %}

        <p class="email-sent-span">{{ line }}</p>

        {% endfor %}
        {% endif %}

        <button>Sign Up</button>

    </form>

    <span class="redirect-to-login-span">Already have an account? Click <a href="/login/">here</a> to go back to the
        login view.</span>

</div>

{% endblock %}