{% extends "base.html" %} {% block content %}

{% if video_to_delete %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">

    <form method="POST" class="app-form p-5" action="/delete-video/{{ video_to_delete.pk }}" return false>
        <h1 class="mb-3">Delete video "{{ video_to_delete.title }}"?</h1>

        {% csrf_token %}
        <button type="submit" class="btn my-3 w-100">Delete Video</button>
    </form>

</div>

{% endif %}

{% endblock %}