{% extends "base.html" %} {% block content %}

{% if video %}

<div class="wrapper">

    <form method="POST" class="delete-video-form" return false>

        {% csrf_token %}
        <h3>Are you sure you want to delete the video "{{ video.title }}"?</h3>
        <button class="confirm-video-deletion-button alert-danger">Delete Video</button>

    </form>

    {% load static %}
    <div class="delete-video-return-div">
        <a href="/home/"><img class="back-to-home" src="{% static 'img/home.png' %}"></a>
        <a href="/video-details/{{ video.pk }}"><img src="{% static 'img/back.png' %}"></a>
    </div>

</div>

{% endif %}

{% endblock %}