{% extends "base.html" %} {% block content %}

{% if video %}

<div class="wrapper">

    <form method="POST" class="app-form" action="/edit-video/{{ video.pk }}" return false>
        <h3>Edit Video</h3>

        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="newTitle" name="title" maxlength="20"
                value="{{ video.title }}" required>
            <label class="mdl-textfield__label" for="newTitle">Title</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="newDescription" name="description" maxlength="400"
                value="{{ video.description }}" required></input>
            <label class="mdl-textfield__label" for="newDescription">Description</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Save Changes</button>
    </form>

</div>

{% endif %}

{% endblock %}