{% extends "base.html" %} {% block content %}

{% if videos %}

<div class="videos-wrapper">
    {% for video in videos %}

    <div class="video-container">
        <h3>{{ video.title }}</h3>
        <video controls>
            <source src="{{ video.video_file.url }}" type="video/mp4" />
        </video>

        {% load static %}
        <h6>
            {{ video.created_at }}
            <a href="/video-details/{{ video.pk }}"><img src="{% static 'img/info.png' %}"></a>
        </h6>
    </div>

    {% endfor %}

    {% load static %}
   <a href="/create-video/"><img src="{% static 'img/add.png' %}" class="add-video-button"></a>
</div>

{% else %}

<div class="wrapper">
    <span class="no-videos-span">No videos were uploaded to the platform yet. Click the "+" button
        in the bottom right corner to start uploading content.</span>

    <a href="/create-video/">
        <button class="mdl-button mdl-js-button mdl-button--fab add-video-button"><i class="material-icons">add</i></button>
    </a>
</div>

{% endif %} 

{% endblock %}