{% extends "base.html" %} {% block content %}

{% if highest_rated_video %}

<div class="highest-rated-video-container w-100">
  <img class="w-100" src="{{ highest_rated_video.thumbnail_picture }}" />
  <div class="highest-rated-video-container-label">
    <h3 class="mb-3">{{ highest_rated_video.title }}</h3>
    <h5 class="font-italic mb-3">#1 in Videoflix</h5>
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-lg">More info</button>
      <button type="button" class="btn btn-secondary btn-lg">Rate</button>
    </div>
  </div>
</div>

{% endif %}

{% if all_videos %}

<!-- Film & Animation -->
<div class="category-row">
  <p class="category-row-header mb-2">Film & Animation</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Film&Animation')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowFilm&Animation" class="video-row d-flex mx-2">

      {% for video in film_and_animation_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Film&Animation')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Autos & Vehicles -->
<div class="category-row">
  <p class="category-row-header mb-2">Autos & Vehicles</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Autos&Vehicles')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowAutos&Vehicles" class="video-row d-flex mx-2">

      {% for video in autos_and_vehicles_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Autos&Vehicles')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Music -->
<div class="category-row">
  <p class="category-row-header mb-2">Music</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Music')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowMusic" class="video-row d-flex mx-2">

      {% for video in music_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Music')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Pets & Animals -->
<div class="category-row">
  <p class="category-row-header mb-2">Pets & Animals</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Pets&Animals')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowPets&Animals" class="video-row d-flex mx-2">

      {% for video in pets_and_animals_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Pets&Animals')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Sports -->
<div class="category-row">
  <p class="category-row-header mb-2">Sports</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Sports')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowSports" class="video-row d-flex mx-2">

      {% for video in sport_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Film&Sports')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Travel & Events -->
<div class="category-row">
  <p class="category-row-header mb-2">Travel & Events</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Travel&Events')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowTravel&Events" class="video-row d-flex mx-2">

      {% for video in travel_and_events_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Travel&Events')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Gaming -->
<div class="category-row">
  <p class="category-row-header mb-2">Gaming</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Gaming')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowGaming" class="video-row d-flex mx-2">

      {% for video in gaming_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Gaming')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- People & Blogs -->
<div class="category-row">
  <p class="category-row-header mb-2">People & Blogs</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('People&Blogs')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowPeople&Blogs" class="video-row d-flex mx-2">

      {% for video in people_and_blogs_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('People&Blogs')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Comedy -->
<div class="category-row">
  <p class="category-row-header mb-2">Comedy</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Comedy')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowComedy" class="video-row d-flex mx-2">

      {% for video in comedy_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Comedy')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Entertainment -->
<div class="category-row">
  <p class="category-row-header mb-2">Entertainment</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Entertainment')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowEntertainment" class="video-row d-flex mx-2">

      {% for video in entertainment_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Entertainment')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- News & Politics -->
<div class="category-row">
  <p class="category-row-header mb-2">News & Politics</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('News&Politics')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowNews&Politics" class="video-row d-flex mx-2">

      {% for video in news_and_politics_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('News&Politics')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Howto & Style -->
<div class="category-row">
  <p class="category-row-header mb-2">Howto & Style</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Howto&Style')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowHowto&Style" class="video-row d-flex mx-2">

      {% for video in how_to_and_style_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Howto&Style')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Education -->
<div class="category-row">
  <p class="category-row-header mb-2">Education</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Education')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowEducation" class="video-row d-flex mx-2">

      {% for video in education_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Education')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Science & Technology -->
<div class="category-row">
  <p class="category-row-header mb-2">Science & Technology</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Science&Technology')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowScience&Technology" class="video-row d-flex mx-2">

      {% for video in science_and_technology_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Science&Technology')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<!-- Nonprofits & Activism -->
<div class="category-row">
  <p class="category-row-header mb-2">Nonprofits & Activism</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('Nonprofits&Activism')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowNonprofits&Activism" class="video-row d-flex mx-2">

      {% for video in nonprofits_and_activism_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('Nonprofits&Activism')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

{% else %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">
  <p>No videos were uploaded to the platform yet. Click the "+" button to start
    uploading content.</p>
</div>

{% endif %}

{% endblock %}