{% extends "base.html" %} {% block content %}

<h1>This is the Videoflix home page!</h1>

<div class="wrapper">

    <form id="addVideoForm" class="add-video-form">

        <h2>Add Video</h2>

        <input type="text" name="videoTitle" placeholder="Title" required>
        <input type="text" name="videoDescription" placeholder="Description" required>
        <input type="file" name="videoFile" required>

        <button>ADD</button>

    </form>

</div>

<button id="addVideoButton" class="add-video-button" onclick="showOrHideForm()" title="add video">+</button>

{% endblock %}