{% extends "base.html" %} {% block content %}

{% if videos %}

<div class="videos-wrapper">
    {% for video in videos %}

    <div class="video-container">
        <h3>{{ video.title }}</h3>
        <video controls>
            <source src="{{ video.video_file.url }}" type="video/mp4" />
        </video>

        {% load static %}
        <h6>
            {{ video.created_at }}
            <a href="/video-details/{{ video.pk }}"><img src="{% static 'img/info.png' %}"></a>
        </h6>
    </div>

    {% endfor %}

    <form id="addVideoForm" class="add-video-form hidden" action="/home/" method="POST" enctype="multipart/form-data"
        return false>
        <h2>Add Video</h2>

        {% csrf_token %}
        <input type="text" id="titleInput" name="title" placeholder="Title" maxlength="30" required />
        <input type="text" id="descriptionInput" name="description" placeholder="Description" maxlength="400" required />
        <input type="file" id="videoFileInput" name="video_file" class="video-file-input" accept="video/*" required />

        <div id="waitForDiv" class="wait-for-div" style="display: none;">
            <p>Please wait a few seconds...</p>
            <p>
                The app is analyzing your upload speed to choose the best conversion
                format for your video.
            </p>
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <button id="addVideoButton" class="transition-none" onclick="displayWaitForDivAndHideAddVideoButton()">
            Add Video
        </button>
    </form>

    {% load static %}
    <img src="{% static 'img/add.png' %}" onclick="openOrCloseForm()" id="openOrCloseFormbutton"
        default-src="{% static 'img/add.png' %}" alternative-src="{% static 'img/close.png' %}"
        class="add-video-button">
</div>

{% else %}

<div class="wrapper">
    <span class="no-videos-span">You have not yet uploaded any videos to the platform. Click the "+" button
        in the bottom right corner to start uploading content.</span>

    <form id="addVideoForm" class="add-video-form hidden" action="/home/" method="POST" enctype="multipart/form-data"
        return false>
        <h2>Add Video</h2>

        {% csrf_token %}
        <input type="text" id="titleInput" name="title" placeholder="Title" maxlength="30" required />
        <input type="text" id="descriptionInput" name="description" placeholder="Description" maxlength="400" required />
        <input type="file" id="videoFileInput" name="video_file" class="video-file-input" accept="video/*" required />

        <div id="waitForDiv" class="wait-for-div" style="display: none;">
            <p>Please wait a few seconds...</p>
            <p>
                The app is analyzing your upload speed to choose the best conversion
                format for your video.
            </p>
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <button id="addVideoButton" class="transition-none" onclick="displayWaitForDivAndHideAddVideoButton()">
            Add Video
        </button>
    </form>

    {% load static %}
    <img src="{% static 'img/add.png' %}" onclick="openOrCloseForm()" id="openOrCloseFormbutton"
        default-src="{% static 'img/add.png' %}" alternative-src="{% static 'img/close.png' %}"
        class="add-video-button">
</div>

{% endif %} {% endblock %}