{% extends "base.html" %} {% block content %}

{% if my_videos %}

<!-- My videos -->
<div class="category-row">
  <p class="category-row-header mb-2">My videos</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('MyVideos')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowMyVideos" class="video-row d-flex mx-2">

      {% for video in my_videos %}
      <div class="thumbnail-container p-1">
        {% load static %}
        <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ video.title }}</span>
          <div>
            <span>{{ video.average_rating }}</span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('MyVideos')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<p>hallo</p>

{% else %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">
  <p>You haven't uploaded any videos to the platform yet. Click the "Add video" link
    to start uploading content</p>
</div>

{% endif %}

{% endblock %}