{% extends "base.html" %}

{% block content %}

{% if video %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">

  <form method="POST" class="app-form p-5" action="/rate-video/{{ video.pk }}" return false>
    <h1 class="mb-3">Rate Video</h1>

    <p>How many stars would you give to "{{ video.title }}"?</p>

    {% csrf_token %}
    <div class="stars-container mb-3">
      <label>
        <input type="radio" name="rating" value="1" />
        <span id="star1" class="fa fa-star" onmouseover="applyColorToCorrespondingStars(this)"
          onmouseout="removeColorFromAllStars()" onclick="applyPermanentColor(this)"></span>
      </label>
      <label>
        <input type="radio" name="rating" value="2" />
        <span id="star2" class="fa fa-star" onmouseover="applyColorToCorrespondingStars(this)"
          onmouseout="removeColorFromAllStars()" onclick="applyPermanentColor(this)"></span>
      </label>
      <label>
        <input type="radio" name="rating" value="3" />
        <span id="star3" class="fa fa-star" onmouseover="applyColorToCorrespondingStars(this)"
          onmouseout="removeColorFromAllStars()" onclick="applyPermanentColor(this)"></span>
      </label>
      <label>
        <input type="radio" name="rating" value="4" />
        <span id="star4" class="fa fa-star" onmouseover="applyColorToCorrespondingStars(this)"
          onmouseout="removeColorFromAllStars()" onclick="applyPermanentColor(this)"></span>
      </label>
      <label>
        <input type="radio" name="rating" value="5" />
        <span id="star5" class="fa fa-star" onmouseover="applyColorToCorrespondingStars(this)"
          onmouseout="removeColorFromAllStars()" onclick="applyPermanentColor(this)"></span>
      </label>
    </div>

    <button type="submit" class="btn my-3 w-100">Rate</button>
  </form>

</div>

{% endif %}

{% endblock %}