{% extends "base.html" %} {% block content %}

<table class="summary-table">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Title</th>
        <th>Description</th>
        <th>Average rating</th>
        <th>Rated by</th>
        <th>Uploaded by</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sere</td>
        <td>15</td>
        <td>The speed of the show/reveal</td>
        <td>sere</td>
        <td>sere</td>
        <td>sere</td>
      </tr>
    </tbody>
  </table>

{% endblock %}