{% extends "base.html" %} {% block content %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">

  {% if top_rated_videos %}

  <!-- Top 10 rated videos -->
  <div class="thumbnails-container-wrapper">

    <p class="thumbnails-container-header mb-2 text-center">Top 10 rated videos</p>

    <div class="thumbnails-container">

      {% for video in top_rated_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container-top-rated-section p-3">
          {% load static %}
          <img src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

  </div>

  {% else %}

  <p>No videos were rated yet.</p>

  {% endif %}

</div>

{% endblock %}