{% extends "base.html" %} {% block content %}

{% if top_rated_videos %}

<!-- Top rated videos -->
<div class="category-row">
  <p class="category-row-header mb-2">Top rated videos</p>
  <div id="center1" class="center-row d-flex align-items-center">

    {% load static %}
    <img onclick="scrollToRight('TopRatedVideos')" class="arrow" src="{% static 'img/before.png' %}">

    <div id="videoRowTopRatedVideos" class="video-row d-flex mx-2">

      {% for video in top_rated_videos %}
      <a href="/video-details/{{ video.pk }}">
        <div class="thumbnail-container p-1">
          {% load static %}
          <img class="thumbnail-picture" src="{{ video.thumbnail_picture }}" />
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ video.title }}</span>
            <div>
              <span>{{ video.average_rating }}</span>
              <span class="fa fa-star orange"></span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    {% load static %}
    <img onclick="scrollToLeft('TopRatedVideos')" class="arrow" src="{% static 'img/next.png' %}">
  </div>
</div>

<p>hallo</p>

{% else %}

<div class="full-height-minus-navbar d-flex align-items-center justify-content-center">
  <p>No videos were rated yet.</p>
</div>

{% endif %}

{% endblock %}