<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videoflix-Application</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>

</head>

<body>

    <nav>

        {% if request.user.is_authenticated %}

        {% load static %}
        <a href="/logout/"><img src="{% static 'img/logout.png' %}" title="log out"></a>

        <h1>Hi {{ request.user }}! <span class="smartphone-dnone">Enjoy Videoflix</span> &#128516;</h1>

        {% else %}

        <h1>You are not logged in yet...</h1>

        {% endif %}

    </nav>

    <div class="dynamic-content-container">

        <div class="messages-div">

        {% include 'messages.html' %}

        </div>

        {% block content %}

        {% endblock %}

        <div class="privacy-imprint-div">

            <a href="{% static 'pdf\Datenschutzerklärung.pdf' %}" target="_blank">Privacy</a>
            <a href="{% static 'pdf\Impressum.pdf' %}" target="_blank">Imprint</a>
            
        </div>

    </div>

</body>

</html>