/* Global style */

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ghostwhite;
}

body {
    height: 100vh;
    background: url("/static/img/bg-dark.png");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    font-size: 25px;
    padding-inline: 2rem;
}

nav a:hover {
    cursor: pointer;
}

.full-height {
    height: 100vh;
}

.py-20 {
    padding-block: 20px;
}

.add-video {
    text-decoration: none !important;
}

.links a {
    text-decoration: none !important;
}

.videoflix-logo-login {
    position: absolute;
    left: 2rem;
}

.videoflix-logo-navbar, .videoflix-logo-login {
    text-decoration: none;
}

.videoflix-logo-navbar h4, .videoflix-logo-login h4 {
    font-weight: bold;
    margin-block: 16px;
    letter-spacing: 2.5px;
}

.videoflix-logo-navbar span, .videoflix-logo-login span {
    color: #d50000;
}

.dynamic-content-container {
    height: calc(100vh - 64px - 4rem);
    padding: 2rem;
    position: relative;
    overflow: auto;
}

.messages-div {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50%;
}

.messages-div-adjusted {
    position: absolute;
    top: calc(64px + 2rem);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50%;
}

.privacy-imprint-div {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50%;
    bottom: 1rem;
    font-size: 11px;
}

.privacy-imprint-div a {
    color: white;
    text-decoration: none;
}

.privacy-imprint-div a:hover {
    text-decoration: underline;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert {
    position: relative;
    text-align: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 4px;
    z-index: 100;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.close-message-button {
    position: absolute;
    right: 1rem;
    color: #191935;
    border: none;
    background-color: transparent;
    width: 1rem;
    border-radius: 50%;
}

.close-message-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

/* Login, signup, create, edit and delete video views style */

.login-form, .signup-form, .add-video-form, .edit-video-form, .delete-video-form {
    padding: 2rem;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.login-form h3, .signup-form h3, .add-video-form h3, .edit-video-form h3, .delete-video-form h3 {
    font-weight: bold;
}

.login-form button, .signup-form button, .add-video-form button, .edit-video-form button, .delete-video-form button {
    background-color: #d50000 !important;
    margin-block: 24px;
}

.mdl-textfield__label {
    color: #737373 !important;
}

.redirect-to-signup-span, .redirect-to-login-span {
    color: #737373;
}

.redirect-to-signup-span a, .redirect-to-login-span a {
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

.redirect-to-signup-span a:hover, .redirect-to-login-span a:hover {
    text-decoration: underline;
}

.password-constraints {
    font-size: 11px;
}

.password-constraints li {
    display: flex;
    align-items: center;
}

.valid {
    width: 20px;
    margin-right: .5rem;
    display: none;
}

.invalid {
    width: 20px;
    margin-right: .5rem;
}

.info-icon {
    width: 20px;
}

.mdl-progress {
    width: auto !important;
}

.loading-bar-container {
    height: 36px;
    margin-block: 24px;
}

.loading-bar-container span {
    font-size: 9px;
}

/* Home view style */

.no-videos-span {
    text-align: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 4px;
}

.videos-wrapper {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.video-container {
    height: fit-content;
    width: calc(20% - 1rem);
    padding: .5rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}

.video-container video {
    border-radius: 4px;
    width: 100%;
    background-color: #cac0c0;
    height: 20vh;
}

.video-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-menu-arrow {
    background-color: #d50000 !important;
}

/* Video details view style */

.video-details-container {
    height: fit-content;
    max-width: 50vw;
    padding: .5rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}

.video-details-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-details-container video {
    border-radius: 4px;
    width: 50vw;
    height: 50vh;
    background-color: #cac0c0; 
}

.video-details-container-bottom {
    display: flex;
    justify-content: center;
}

/* For smartphones */

@media (max-width: 520px) {
    .smartphone-dnone {
        display: none;
    }
}